{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Contact Permian Alliance to learn more about our trailer rental, repair, and service options for the oil and gas industry in the Permian Basin. Our team is available 24/7 to provide information and support for climate control, emergency shower, and office trailers.">
    <meta name="Author" content="PathSix Web Design LLC">
{% endblock %}

{% block title %}Permian Alliance | 432-250-4778 - Contact Us{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<body>
    <h1>This Page Has Moved</h1>
    <p>Our contact information has been updated. Please visit our <a href="{{ url_for('contact') }}">new contact page</a> for the latest details.</p>
</body>
{% endblock %}