{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Contact Permian Alliance to learn more about our trailer rental, repair, and service options for the oil and gas industry in the Permian Basin. Our team is available 24/7 to provide information and support for climate control, emergency shower, and office trailers.">
    <meta name="Author" content="PathSix Web Design LLC">
{% endblock %}

{% block title %}Permian Alliance | 432-250-4778 - Contact Us{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<h1 class="contact-header">Contact Us</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if not success %}
{% for message in form.name.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% for message in form.email.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% for message in form.subject.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% for message in form.message.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
<div class="form-container">
    <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.subject.label }}
    {{ form.subject }}
    {{ form.message.label }}
    {{ form.message }}
    {{ form.recaptcha }}  
    {{ form.submit }}
    </form>
</div>
{% endif %}

<br><br><hr><br>
<div class="location-headers">
  <h1>Location</h1>
  <h2>Click Map to Open</h2>
</div>
<div class="location">
  <a href="https://www.google.com/maps/search/?api=1&query=1701+E+County+Rd+140+Midland+TX+79706" target="_blank">
    <img class="maplink" src="https://maps.googleapis.com/maps/api/staticmap?center=1701+E+County+Rd+140+Midland+TX+79706&zoom=14&size=800x400&maptype=roadmap&markers=color:red%7C31.93581,-102.03360&key={{ google_maps_api_key }}" alt="Map of 1701 E County Rd 140, Midland, TX">
</a>
    <div>
        <p>1701 E County Rd 140</p>
        <p>Midland, Tx. 79706</p>
        <p>432-250-4778</p>
    </div>
</div> 
{% endblock %}