{% extends "base.html" %}

{% block title %}Permian Alliance{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-content">
        <p>On-Location Safety Shower and Climate Trailer</p>
        <p>Equipment | Setup | Maintenance.</p>
        <a href="/contact" class="learn-more">CONTACT US</a>
        </div>
    </div>
    <br><br><br>
    <section class="container">
        <h1>Permian Alliance</h1>
        <p>
          Permian Alliance is a company that provides on-location safety shower and
          climate trailers for the oil and gas industry. Our trailers are equipped
          with the latest safety features and are designed to withstand the harsh
          conditions of the Permian Basin.
        </p>
      </section>

    <section class="trailer_section">
        <div class="trailers1">
            <div>
                <img src="{{ url_for('static', filename='images/shower_trailer.jpg') }}" alt="Emergency Shower trailer" />
            </div>
            <div class="trailer-info">
                <h2>Emergency Shower Trailer</h2>
                <p>
                Our emergency shower trailers are designed to provide a safe environment 
                for workers in the oil and gas industry. The trailers are equipped with 
                the latest safety features and are designed to withstand the harsh 
                conditions of the Permian Basin.
                </p>
                <a href="{{ url_for('shower') }}" class="learn-more">LEARN MORE</a>
            </div>
        </div>
        <div class="trailers2">
        <div>
            <img src="{{ url_for('static', filename='images/climate_trailer.jpg') }}" alt="Climate Control Trailer" />
        </div>
            <div class="trailer-info">
                <h2>Environmental Trailer</h2>
                <p>
                Our enviromental trailers are designed to provide a comfortable
                climate for workers in the oil and gas industry. The trailers are
                equipped with heating and cooling systems to ensure that workers are
                comfortable regardless of the weather conditions.
                </p>
                <a href="{{ url_for('environmental') }}" class="learn-more">LEARN MORE</a>
            </div>
        </div>
        <div class="trailers3">
        <div>
            <img src="{{ url_for('static', filename='images/office_trailer.jpg') }}" alt="Portable Office Trailer" />
        </div>
            <div class="trailer-info">
                <h2>Office Trailer</h2>
                <p>
                Our office trailers are designed to provide a comfortable and
                professional environment for workers in the oil and gas industry. The
                trailers are equipped with all the amenities needed to conduct
                business on-site.
                </p>
                <a href="{{ url_for('office') }}" class="learn-more">LEARN MORE</a>
            </div>
        </div>
    </section>
    <section class="about_us">
        <h2>Permian Alliance</h2>
        <div class="about_main">
            <img src="{{ url_for('static', filename='images/on_site.jpg') }}" alt="Permian Alliance truck on site in the early morning hours.">
            <div>
                <h3>Trailer Repair</h3>
                <h4>24 hours a day, 365 days a year!</h4>
                <ul>
                    <li>Family Owned and Operated</li>
                    <li>Founded in 2010</li>
                    <li>19 years expereince in the HSC field</li>
                </ul>
            </div>
            <img src="{{ url_for('static', filename='images/welding.jpg') }}" alt="Permian Alliance welder working on a trailer">
            <div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scrollAppear.js') }}"></script>
{% endblock %}
