{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Permian Alliance offers fully equipped office trailers for the oil and gas industry in the Permian Basin. Our office trailers provide a temperature-controlled, comfortable workspace, designed for durability in all weather conditions and compliant with industry standards.">
    <meta name="Author" content="PathSix Web Design LLC">
{% endblock %}

{% block title %}Permian Alliance Office Trailers{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="products">
        <div class="trailer-page">
            <h1>Office Trailer</h1>
            <section class="about">
                <img
                src="{{ url_for('static', filename='images/office_trailer.jpg') }}"
                alt="Exterior view of the office trailer"
                />
                <div>
                <h2>About Our Office Trailers</h2>
                <p>
                    Our office trailers are designed to provide a comfortable and
                    functional workspace for workers in the oil and gas industry. The
                    trailers are equipped with heating and cooling systems to ensure that
                    workers are comfortable regardless of the weather conditions.
                </p>
                </div>
            </section>
            <section id="features">
                <img
                src="{{ url_for('static', filename='images/inside_office.jpg') }}"
                alt="Inside view of the office trailer"
                />
                <div>
                <h2>Features</h2>
                <ul>
                    <li>Heating and cooling systems</li>
                    <li>Temperature-controlled environment</li>
                    <li>Weather-resistant construction</li>
                    <li>Compliance with industry regulations</li>
                </ul>
                </div>
            </section>
            <!--
            <section id="gallery">
                <h2>Gallery</h2>
                <div class="image-container">
                <img
                    src="images/inside_shower.jpg"
                    alt="Inside view of the emergency shower and eyewash trailer"
                />
                <img
                    src="images/shower_trailer.jpg"
                    alt="Exterior view of the emergency shower and eyewash trailer"
                />
                </div>
            </section>-->
            <section id="contact">
                <h2>Contact Us</h2>
                <p>
                    For more information or to rent an office trailer,
                    please contact us:
                </p>
                <ul>
                    <li>Phone: (432) 250-4778</li>
                    <li>
                        Email: <a href="mailto:hryan@permianalliance.com">Permian Alliance</a>
                    </li>
                </ul>
                <p>Or go to our contact page:</p>
                <div class="contact"><a href="{{ url_for('contact') }}">CONTACT US</a></div>
            </section>
        </div>
    </div>
  {% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/imageAppear.js') }}"></script>
{% endblock %}